############################# Requirements for ML Models (locally) #############################
# This is only required, if the ONLINE_AI Setting is turned-off
# Run one of the following to install the required packages in your python environment:
#
#   python -m pip install -r Requirements.txt
#
# The command should be executed from a cmd line tool at the location of this file.
################################################################################################

#nvm this! currently all required libs should be included in python 3.10_3
#just download and install the newest version of python


#Examples:
#numpy == 1.21.2
#pandas >= 1.3.4
#pip != 20.2.1
#dateutils ~= 0.6.12  #Compatible release. Same as >= 0.6.12  or  == 0.6.*